/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff8c00;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 90%;
  --ifm-font-family-base: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --ifm-heading-font-weight: 400;
  --ifm-global-shadow-lw: transparent;
  --ifm-toc-border-color: transparent;
  --aa-primary-color-rgb: 255, 140, 0 !important;
  --aa-muted-color-rgb: 255, 140, 0 !important;
}

[data-theme='dark'] {
  --aa-primary-color-rgb: 255, 140, 0 !important;
  --aa-muted-color-rgb: 255, 140, 0 !important;
}

h1 {
  font-size: var(--ifm-h1-font-size) !important;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.menu__link {
  outline: none !important;
}
