.utterances {
	margin: 0;
}

@media only screen and (min-width: 997px) {
  .utterances {
    max-width: 75% !important;
  }
}

@media only screen and (max-width: 996px) {
  .utterances {
	margin-left: auto;
	margin-right: auto;
  }
}
